<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
</head>
<body>
<h1>Registration</h1>
<form method="post">
    {{ form.name.label }}<br>
    {{ form.name}}<br>
    {{ form.email.label }}<br>
    {{ form.email }}<br>
    {{ form.month.label }}<br>
    {{ form.month }}<br>
    {{ form.cardnum.label }}<br>
    {{ form.cardnum }}<br>
    {{ form.password.label }}<br>
    {{ form.password }}<br>
    {{ form.button.label }}<br>
    {{ form.button }}<br>
</form>
</body>
</html>